*{
    margin:0;
    padding:0;
}

:root {
    --white: #F6F6F6;
    --black: #121212;
    --grey: #e8e8e8;
}

body {
    background: var(--white);
    color: var(--black);
}

header {
    width: 100%;
    height:60px;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: solid 1px #121212;
    z-index:1;
    background: var(--white);
    display:flex;
    align-items:center;
    justify-content:center;

    h1 {
        text-align:center;
        font-size:1.8em;
    }
}

main {
    width:100%;
    position:relative;
}

.side-menu {
    width:100%;
    border-bottom: solid 1px var(--black);
    padding: 14px 20px;
    box-sizing: border-box;
    position:sticky;
    top:0;
    left:0;
    background:var(--white);

    .burger {
        width:100%;
        height:100%;
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;

        span {
            width:25px;
            height: 3px;
            background: var(--black);
        }
        span:nth-child(2){
            margin:5px 0;
        }
    }
    .burger.open {
        transform: translateX(8px);

        span:first-child{
            transform: rotate(45deg) translateY(11px);
        }
        span:nth-child(2) {
            opacity: 0;
        }
        span:last-child{
            transform: rotate(-45deg) translateY(-11px);
        }
    }

    nav {
        z-index:-1;
        width:100%;
        max-height: calc(100vh - 60px);
        overflow-y: scroll;

        ul {
            list-style:none;
            margin-bottom: 10px;

            li {
                ul {
                    padding-left:20px;
                }
            }
        }
    }
    nav.hidden {
        display:none;
    }
}

.main-box {
    padding:14px 20px;
    box-sizing: border-box;

    hr{
        margin:10px 0 30px 0;
    }

    article {
        margin-bottom: 40px;

        .command-box {
            margin-bottom: 30px;

            h3 {
                width:100%;
                background: var(--grey);
                padding: 5px 0 5px 10px;
                box-sizing: border-box;
                margin-bottom: 10px;
            }

            span {
                background: var(--grey);
                font-weight:bold;
                border-radius:3px;
                padding: 2px 4px;
                box-sizing: border-box;
                font-family:'Courier New', Courier, monospace;
            }

            .code {
                width:100%;
                margin: 15px 0;
                background: var(--black);
                padding: 15px;
                box-sizing: border-box;
                border-radius: 5px;

                p {
                    font-size:0.85em;
                    font-family: 'Courier New', Courier, monospace;
                    color: var(--white);
                }
            }
        }
    }
}